@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* Please zoom out to 50%-60% to see web the page properly. The web page is not responsive */

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f5f5f5;
  max-width: 1280px;
}

body {
  max-width: 1280px;
  margin: auto;
  text-align: left;
  padding: 0 160px;
  background-color: #f5f5f5;
}

/* ..........all default styles are above.............. */

/* ...............shared styles below...............*/
.green-button {
  background-color: green;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px;
  cursor: pointer;
  border-radius: 8px;
  border-style: none;
}
.green-button:hover {
  background-color: #aa2575;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0e0e0e;
  opacity: 70%;
}
/* .............. shared syles above................ */

/* styles for nav bar */
.start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: 31px 0;
}

.btn-sign-in {
  text-decoration: none;
  color: green;
  font-size: 18px;
  font-weight: 600px;
  padding: 15px 30px;
  border: 1px solid green;
  border-radius: 8px;
}

/* banner's style */
.banner {
  height: 560px;
  background-color: #c6e4d6;
  display: flex;
  justify-content: space-between;
  align-items: left;
  gap: 64px;
  border-radius: 24px;
}
.banner-text {
  margin: 117px 0px 117px 59px;
}
.banner-title {
  font-size: 56px;
  font-weight: bold;
  opacity: 100%;
  line-height: auto;
  margin-top: 16px;
  margin-bottom: 24px;
}

.small-text {
  font-size: 24px;
  font-weight: 500;
  opacity: 50%;
}

.banner-button {
}

.banner img {
  width: 474px;
  height: 400px;
  margin: 80px 59px 80px 0px;
}

/* Vision of future.......styles */
.vision {
  margin: 50px 0px;
}
.vision-box-container {
  margin: 32px 0px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.vision-box {
  border-style: none;
  border-radius: 16px;
  padding: 32px;
  width: 409px;
}
.vision-box:hover {
  background-color: #d673ca !important;
}
.card-icon {
  width: 64px;
  height: 64px;
}
.vision-box-title {
  font-weight: bold;
  font-size: 20px;
  color: #0e0e0e;
  opacity: 80%;
  margin: 24px 0px 12px 0px;
}

.vision-box-para {
  margin-bottom: 24px;
}
.box1-btn {
  background-color: #5490f5;
}
.box2-btn {
  background-color: rgb(157, 253, 13);
}
.box3-btn {
  background-color: #ffc239;
}

/*............Quote box style................*/
.quote-box {
  padding: 40px 24px;
  margin-bottom: 30px;
  background-color: white;
  border-style: none;
  border-radius: 16px;
  position: relative;
  height: 150px;
}
.quote-icon {
  opacity: 0.8;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  background-image: url(./assets/quote-bg.png);
  position: absolute;
}
.author-name {
  color: #0e0e0e;
  font-size: 20px;
  opacity: 80%;
  font-weight: 600;
  margin-top: 20px;
}

/* ...........News box styles.............. */

.news-box-container {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 34px;
}
.news-box {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 32px;
  padding: 48px;
  background-color: white;
  border-right: none;
  border-radius: 24px;
}
.news-image {
  border-style: none;
  border-radius: 16px;
}

.news-text {
  margin-bottom: 32px;
}
.newsbox-title {
  font-size: 32px;
  font-weight: bold;
  color: #0e0e0e;
  opacity: 80%;
}
.channel-logo {
  margin: 12px 0px;
}

/* ...........Donation section styles below......... */
.donation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-top: 10px;
}
.card {
  padding: 40px;
  border-style: none;
  border-radius: 16px;
  font-size: 40px;
  font-weight: bold;
  color: #0e0e0e;
  opacity: 70%;
  background-color: yellow;
}
.card:hover {
  background-color: violet;
}
.donation input[type="text"] {
  width: 900px;
  height: 15px;
  padding: 20px 40px;
  font-size: 20px;
  border-style: none;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  margin-top: 20px;
}

/* .......newsletter section styles below............ */

.newsletter {
  background-color: #c6e4d6;
  display: flex;
  flex-direction: column;
  border-style: none;
  border-radius: 24px;
  text-align: center;
  padding: 80px 200px;
  margin: 50px;
}

.newsletter form {
  display: flex;
  margin: 30px 0;
}
.newsletter input[type="email"] {
  display: flex;
  align-items: center;
  background-color: white;
  border-style: none;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  width: 550px;
  height: 10px;
  padding: 20px 40px;
}
.newsletter input[type="submit"] {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: green;
  border-style: none;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  width: 176px;
  height: 50px;
  padding: 10px 40px;
}
